.cart-main-container {
  background-color: #f0f0f0;
  display: flex;
  height: 100%;
}
.cart-payment-container {
  width: 25%;
  height: min-content;
  background-color: white;
  margin-right: 5%;
  margin-top: 2%;
}

.cart-container {
  width: 55%;
  margin: 2% 1.5% 1% 10%;
  padding: 20px;
  background-color:  white;
}

.cart-item img {
  width: 200px;
  height: 150px;
  object-fit: contain;
  margin-top: 1%;
}
.cart-increment-decrement {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2%;
}
.cart-quantity-button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 25px;
}
/* new code */
.delivery-update {
  font-size: 15px;
}
.cart-item-title {
  font-size: 20px;
  font-weight: 500;
}
.cart-quantity {
  width: 50px;
  text-align: center;
  border: 1px solid #ccc;
  height: 30px;
  margin: 0 5px;
  line-height: 1.5;
}

.cart-items {
  width: 100%;
  height: 200px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 3fr 1fr;
  margin-top: 1%;
  border-bottom: 1px solid rgb(214, 210, 210);
}
.cart-remove-button {
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  line-height: 2;
  margin-left: 5%;
}
.cart-remove-button:hover {
  color: #2874f0;
}
.cart-item-details {
  margin-left: 4%;
}
.cart-seller {
  margin: 3% 0;
}
.cart-seller span {
  margin-left: 3%;
}
.cart-discount-mrp {
  text-decoration: line-through;
  font-size: 15px;
  color: #878787;
  margin-right: 2%;
}
.cart-item-individual-price {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.8px;
  margin-right: 2%;
}
.cart-offer-applied {
  color: #388e3c;
  font-weight: 500;
}
.cart-price-details {
  padding: 4%;
  font-size: 18px;
  font-weight: 500;
  color: #878787;
  border-bottom: 1px solid #f0f0f0;
  margin-left: 2%;
}
.cart-price-items {
  display: flex;
  justify-content: space-between;
  margin: 4% 6%;
  font-size: 17px;
  font-weight: 400;
}
.cart-price-items-total {
  display: flex;
  justify-content: space-between;
  margin: 4% 6%;
  font-size: 20px;
  font-weight: 600;
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
  padding: 6% 0%;
}
.cart-price-color {
  color: #388e3c;
  font-weight: 500;
}
.cart-placeorder {
  right: inherit;
  margin: 3%;
}
.cart-buttons button {
  margin-right: 8%;
  background-color: #fb641b;
  color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  border: none;
  padding: 16px 30px;
  width: auto;
  text-transform: uppercase;
  border-radius: 2px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  outline: none;

}
/* @media only screen and (max-width:1550px) {
  .cart-main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 400px;
  }
  .cart-buttons{
    display:flex ;
    flex-direction: column;
    gap: 10px;
    width: 40%;
  }
} */