*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav{
    display: flex;
    background-color: #2874f0;
    justify-content: space-evenly;
    align-items: center;
    height: 56px;
    padding: 10px 0px;
    padding-left: 130px;
    padding-right: 130px;
    font-weight: 500;
}
.nav img{
    height: 30px;
    width: 100px;
    cursor: pointer;
}
.search{
    background-color: white;
    padding: 8px 10px;
    width: 550px;
    margin: 0px 15px;
    display: flex;
    justify-content: space-between;
    box-shadow: -7px -7px 10px rgba(0,0,0,0.1),
    7px 7px 10px rgba(0,0,0,0.1);
    border-radius: 2px;
    z-index: 1;
}
.search input{
    width: 380px;
    border: none;
    font-size: 14px;
    outline: none;
}
.login-btn{
    padding: 7px 30px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    outline: none;
    color: #2874f0;
}
.login-btn:hover{
    cursor: pointer;
}
.navLink{
    margin: 0px 10px;
    font-size: 18px;
    color: white;
    text-decoration: none;
}
.cart-svg{
    padding-right: 5px;
}
/************************************************************************************************************************************/
.recent-search{
    display: none;
    color: black;
    position: absolute;
    background-color: white;
    top: 46px;
    padding: 8px 10px;
    width: 550px;
    margin-left: -10px;
    height: 350px;
    box-shadow: -5px 5px 7px rgba(0,0,0,0.2),
    5px 5px 10px rgba(0,0,0,0.2);
    border-top: 1px solid #ccc;
}
.recent-search-list{
    display: flex;
}
.recent-search-list p, .recent-search-list-discover p{
    padding-left: 18px;
    color: rgb(95, 90, 90);
}
.discoverMore{
    margin: 15px 0px;
    font-size: 15px;
    color: rgb(95, 90, 90);
}
.recent-search-list-discover{
    padding: 10px 0px;
    display: flex;
}
.search:focus-within .recent-search{
    display: block;
}
.cart-number{
    background-color: white;
    padding: 3px 9px;
    color:#2874f0;
    font-weight: 700;
    border-radius: 50%;
}