* {
  margin: 0;
  box-sizing: border-box;
}
.topProductNavBar {
  font-size: 14px;
  height: 110px;
  display: flex;
  justify-content: center;
  padding: 10px 200px;
  border-bottom: 1px solid #ccc;
}

.topProductNavBar-grocery {
  height: 112px;
  width: 80px;
  cursor: pointer;
  flex: 1;
}
.topProductNavBar-grocery img {
  width: 64px;
  height: 64px;
}
.topProductNavBar-grocery p {
  font-weight: 500;
  padding-left: 7px;
}
.topProductNavBar-grocery:hover p {
  color: #2874f0;
}

/* Carousel */
.carousel {
  background-color: #f1f3f6;
  padding: 8px;
  cursor: pointer;
}

.slider-img {
  width: 100%;
  height: 280;
}
.slick-arrow.slick-prev,
.slick-arrow.slick-next {
  width: 47px;
  height: 104px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  margin-left: 25px;
  margin-right: 25px;
}
/* best of electronics */

.electronics-section-products {
  height: 320px;
  width: 230px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  
}
.electronics-image-section img {
  height: 200px;
  object-fit: scale-down;
  width: 180px;
  cursor: pointer;
}
.electronics-text-section-rating-number {
  border: none;
  background-color: #388e3c;
  padding: 2px 4px 2px 6px;
  height: 19px;
  width: 40px;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  vertical-align: middle;
}
.electronics-text-section-rating-reviewers {
  color: #878787;
  padding-left: 8px;
  font-weight: 500;
  
}
.electronics-text-section-sp {
  font-size: 16px;
  font-weight: 500;
  color: #212121;
  padding-right: 5px;
}
.product-grid {
  display: inline-block;
  padding: 20px;
  width: 300px;
}
.btn-cart {
  color: #ffff;
  font: 13px;
  background-color: #2874f0;
  height: 38px;
  width: 96px;
  border: none;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  font-weight: 500;
  cursor: pointer;
}
.electronics-text-section{
  overflow:visible;
}
.view-btn{
  color: #ffff;
  font: 13px;
  background-color: #2874f0;
  height: 38px;
  width: 96px;
  border: none;
  margin-top: 15px;
  margin-left: 18px;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  font-weight: 500;
  cursor: pointer;
}